.secao-visita {
  position: relative;
  width: 100%;
  height: 168px;
  overflow: hidden;
  background-color: #ee766d;
}

.secao-visita::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url("../imagens/galeria/ficamos-felizes/gps.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: min(18vw, 760px) auto;
  opacity: 0.12;
  pointer-events: none;
}

.fundo-visita {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-visita {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: min(950px, 90%);
  height: auto;
  display: block;
}
